html, body  {
    height: 100%; 
    margin: 0;
    
    
}

body {
    background-image: url(image.jpg);
    padding-bottom: 60px; 
    display: flex; 
    flex-direction: column; 
}
/*nav*/

.nav img {
    height: 50px; 
    width: 150px; 
}

.nav {
    background-color: #d1baaa; 
    padding: 15px; 
   
}

.nav a {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold; 
    float: right; 
}

.prod,.para2,.para3{
    background-color: beige;
    padding: 20px;
    width: 300px;
    text-align: center;
    text-decoration: dotted;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
   

}


.prod,.para2,.para3, ul {
    list-style:disc;
    padding: 0; 
}

.prod ,.para2,.para3, li {
    margin: 10px 50px;
}
.paragraphe{
    display: flex;
    align-items: center;
    justify-content: cz;
}
.tableau {
    background-color: white;
    padding:10px;
    margin-top: 20px;

}
.tableau h2{
    text-align: center;
    color: black;
}
.tableau table{
    width: 100%;
}
.tableau th,td {
    background-color: rgba(217, 124, 11, 0.317);
    padding: 10px;
    text-align: left;
    color: white;
}




.container {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 20px;
   
}
.stylees {
    color:rgb(12, 12, 11);
    
}
.slasse{
    color: bisque;
}

.slasse {
    margin: 10px;
    gap: 10px;
    padding: 5px;

    
   
}

.slasse {
    
    
    padding: 1rem 0;
    text-align: center;

}
.slasse {
    background-color: rgba(61, 36, 7, 0.5);
    padding: 20px;
    margin: 200px;
    border-radius: 10px;
    
   
}
.stylees {
   text-align: center;
   padding: 1rem 0;

}
.button {
    text-align: center;
    margin: 20px 0;
}

.button button {
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button button:hover {
    background-color: #ff4f3d;
    transform: scale(1.05);
}

.button button:focus {
    outline: none;
}


footer {
    background-color: #dab39455;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 16px;
    position: relative;
    margin-top: auto;
}

footer p {
    color: white;
    margin: 5px 0;
}

footer a {
    color: gold;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 24px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
}