html, body {
    height: 100%; 
    margin: 0;
}

body {
    background-image: url(image.jpg);
    padding-bottom: 60px; 
    display: flex; 
    flex-direction: column; 
}


.nav img {
    height: 50px; 
    width: 150px; 
}

.nav {
    background-color: #d1baaa; 
    padding: 15px; 
   
}

.nav a {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold; 
    float: right; 
}

.prod {
    background-color: beige;
    
    padding: 10px;
    width: 300px;
   
   

    text-align: center;
    text-decoration: dotted;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}

.prod img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.prod ul {
    list-style:disc;
    padding: 0; 
}

.prod li {
    margin: 10px 10px;
}


.container {
    flex: 1; 
    display: flex;
    flex-direction: column; 
}

.stylees {
    color:rgb(12, 12, 11);
    
}
.slasse{
    color: bisque;
}

.slasse {
    margin: 10px;
    gap: 10px;
    padding: 5px;

    
   
}

.slasse {
    
    
    padding: 1rem 0;
    text-align: center;

}
.slasse {
    background-color: rgba(61, 36, 7, 0.5);
    padding: 20px;
    margin: 200px;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 15px;
   
}

.stylees {
      text-align: center;
       margin-bottom: 0px;

      
    
}
button {
    margin-top: 10px;
    background-color: bisque;
    color: brown;
    border: #d1baaa 10px;
    cursor: pointer;

  }
  button:hover {
    background-color: whitesmoke;
  }
  

  input, button {
    width: 30%;
    padding: 4px;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  label {
    margin-bottom: 1px;
    
  }
 
  
  


  
footer {
    background-color: #dab39455;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-top: 20px;
    width: 100%;
    font-size: 16px;
    position: relative;
    margin-top: auto; 
}

footer p {
    margin: 5px 0;
}

footer a {
    color: gold;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}


