body{
    background-image: url(image.jpg);
    
    
}
.nav img {
    height: 50px; 
    width: auto; 
}

.nav {
    background-color: #d1baaa; 
    padding: 15px; 
    overflow: hidden;
}


.nav a {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 

    font-weight: bold; 
    float: right; 
}